{% extends "base2.html" %}

{% block content %}
<div class="min-h-screen flex items-center justify-center m-3">
    <div class="w-full max-w-lg p-8 bg-gray-200 rounded-lg shadow-lg border border-gray-300">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Share Your Recipe</h2>
        <form action={% url 'createpost' %} method="post" class="space-y-6" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full py-2 mt-4 text-white bg-blue-600 hover:bg-blue-700 rounded-lg transition duration-300">Share</button>
        </form>
        <div class="mt-6 text-center text-gray-600">
            <p>We can't wait to see what deliciousness you create!</p>
        </div>
    </div>
</div>
{% endblock content %}
